section {
  color: #000;
  text-align: center;
}

.container {
  display: table;
  width: 100%;
}

.left-half {
  background-color: #ff9e2c;
  position: absolute;
  left: 0px;
  width: 50%;
}

.right-half {
  background-color: #b6701e;
  position: absolute;
  right: 0px;
  width: 50%;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  color: #fff;
  background-color: #000;
}

.main-head {
  height: 150px;
  background: #000;
}

.navbar {
  height: 100%;
  background-color: #120e0d;
  padding: 20px;
}

.main {
  padding: 0px 10px;
}

.login-main-text {
  margin-top: 20%;
  padding: 60px;
  color: #fff;
}

.login-main-text h2 {
  font-weight: 300;
}

.btn-black {
  background-color: #000 !important;
  color: #fff;
}

h1 {
  font-size: 2em;
}

.searchbar {
  flex-grow: 1;
  margin-left: 60px;
  margin-right: 60px;
}

.input-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.input-form input {
  width: 100%;
}

.container-account {
    display: flex;
    padding-left: 3vw;
    height: 35vw;
}

.info {
    display: flex;
    flex-direction: column;
    flex: 1;
    border-right: 2px solid #fff;
    margin-right: 1vw;
}

.form {
  display: flex;
  align-items: stretch;
  padding-top: 1.5vw;
}

.label {
    flex: 2;
}

.field {
    flex: 7;
}

.submit {
    flex: 1;
    padding: 0; /* Space for the icon */
    border: 0;
    background-color: #000;
    border-color: #000;
}
.submit:focus {
  border-color: transparent; /* Remove border color on focus */
  outline: none; /* Optional: remove outline */
}

.history {
  padding-right: 3vw;
  flex: 1;
}

.disabled {
  pointer-events: none !important;
}

.form-control:disabled {
  background-color: #dadde0 !important;
}