section {
  color: #000;
  text-align: center;
}

.container {
  display: table;
  width: 100%;
}

.left-half {
  background-color: #ff9e2c;
  position: absolute;
  left: 0px;
  width: 50%;
}

.right-half {
  background-color: #b6701e;
  position: absolute;
  right: 0px;
  width: 50%;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  color: #fff;
  background-color: #000;
}

.main-head {
  height: 150px;
  background: #000;
}

.navbar {
  height: 100%;
  background-color: #120e0d;
  padding: 20px;
}

.main {
  padding: 0px 10px;
}

.login-main-text {
  margin-top: 20%;
  padding: 60px;
  color: #fff;
}

.login-main-text h2 {
  font-weight: 300;
}

.btn-black {
  background-color: #000 !important;
  color: #fff;
}

h1 {
  font-size: 2em;
}

.searchbar {
  flex-grow: 1;
  margin-left: 60px;
  margin-right: 60px;
}

.input-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.input-form input {
  width: 100%;
}
