{% extends "base.html" %}

{% block content %}

<br><br>

<h2 style="padding-left: 3vw;">My Account:</h2>

<hr>

<div class="container-account">
    <div class="info">
        <h3>Personal Information</h3>
        <div class="form">
            <h4 class="label">Name: </h4>
            <div class="field input-group"><input type="text" class="form-control"></div>
            <button type="submit" class="submit"><a class="btn btn-secondary"><i class="fa fa-edit"></i></a></button>
        </div>
        <div class="form">
            <h4 class="label">Email: </h4>
            <div class="field input-group"><input type="text" class="form-control"></div>
            <button type="submit" class="submit"><a class="btn btn-secondary"><i class="fa fa-edit"></i></a></button>
        </div>
        <div class="form">
            <h4 class="label">Address: </h4>
            <div class="field input-group"><input type="text" class="form-control"></div>
            <button type="submit" class="submit"><a class="btn btn-secondary"><i class="fa fa-edit"></i></a></button>
        </div>
        <div class="form">
            <h4 class="label">Balance: </h4>
            <div class="field input-group"><input type="text" class="form-control"></div>
            <button type="submit" class="submit"><a class="btn btn-secondary"><i class="fa fa-edit"></i></a></button>
        </div>
        
        
    </div>
    <div class="history">

    </div>
</div>

{% endblock %}
