{% extends "base.html" %} {% block content %}

<div class="container mt-5">
  <h2 class="mb-4 text-center font-weight-bold">Your Shopping Cart</h2>
  {% if cart_items %}

  <div class="card shadow-lg p-4 border-0">
    <table class="table table-hover align-middle">
      <thead class="thead-light">
        <tr class="text-center">
          <th scope="col" style="width: 30%">Product</th>
          <th scope="col"></th>
          <th scope="col">Price</th>
          <th scope="col">Quantity</th>
          <th scope="col">Total</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for item in cart_items %} {% set total_price = item.price *
        item.quantity %}
        <tr class="text-center">
          <td class="text-left" style="width: 20%">
            <a href="/products/{{ item.product_id}}">{{ item.name }}</a>
          </td>
          <td>
            <img
              src="{{ item.image_url }}"
              alt="Product Image"
              class="rounded img-fluid"
              style="width: 80px; height: auto"
            />
          </td>
          <td class="font-weight-bold">${{ "%.2f"|format(item.price) }}</td>
          <td>
            <form
              method="POST"
              action="{{ url_for('cart.update_item') }}"
              class="form-inline d-flex justify-content-center"
            >
              <input
                type="hidden"
                name="cart_item_id"
                value="{{ item.cart_item_id }}"
              />
              <input
                type="number"
                name="quantity"
                value="{{ item.quantity }}"
                min="1"
                class="form-control text-center"
                style="width: 60px"
              />
              <button type="submit" class="btn btn-sm btn-outline-primary ml-2">
                Update
              </button>
            </form>
          </td>
          <td class="font-weight-bold">${{ "%.2f"|format(total_price) }}</td>
          <td>
            <form method="POST" action="{{ url_for('cart.remove_item') }}">
              <input
                type="hidden"
                name="cart_item_id"
                value="{{ item.cart_item_id }}"
              />
              <button type="submit" class="btn btn-sm btn-danger">
                <i class="fas fa-trash-alt"></i>
              </button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="card shadow-lg p-4 border-0 mt-4">
    <h4 class="mb-3">Applied Coupons</h4>
    {% if applied_coupons %}
    <ul class="list-group">
      {% for coupon in applied_coupons %}
      <li
        class="list-group-item d-flex justify-content-between align-items-center"
      >
        {{ coupon.name }}
        <div>
          <span class="badge badge-primary badge-pill"
            >-{{ "%.2f"|format(coupon.discount) }}%</span
          >
          <form
            method="POST"
            action="{{ url_for('cart.remove_coupon') }}"
            class="d-inline"
          >
            <input
              type="hidden"
              name="coupon_id"
              value="{{ coupon.coupon_id }}"
            />
            <button type="submit" class="btn btn-sm btn-danger">
              <i class="fas fa-trash-alt"></i>
            </button>
          </form>
        </div>
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <p>No coupons applied.</p>
    {% endif %}
  </div>

  <div class="card shadow-lg p-4 border-0 mt-4">
    <h4 class="mb-3">Available Coupons</h4>
    {% if coupons %}
    <form method="POST" action="{{ url_for('cart.apply_coupon') }}">
      <div class="form-group">
        <label for="couponSelect">Select a coupon to apply:</label>
        <select class="form-control" id="coupon_code" name="coupon_code">
          {% for coupon in coupons %}
          <option value="" selected>Select a coupon</option>
          <option value="{{ coupon.coupon_id }}">{{ coupon.name }}</option>
          {% endfor %}
        </select>
      </div>
      <button type="submit" class="btn btn-success">Apply Coupon</button>
    </form>
    {% else %}
    <p>No available coupons at this time.</p>
    {% endif %}
  </div>

  <div class="text-right mt-4">
    {% if applied_coupons %}
    <p class="font-weight-bold">
      Total before coupons: ${{ "%.2f"|format(subtotal) }}
    </p>
    {% endif %}
    <h5 class="font-weight-bold">
      Grand Total: ${{ "%.2f"|format(totalCost) }}
    </h5>
  </div>

  <form
    method="POST"
    action="{{ url_for('cart.checkout') }}"
    class="text-right mt-3"
  >
    <button type="submit" class="btn btn-primary btn-lg">Checkout</button>
  </form>

  {% else %}
  <div class="alert alert-info text-center mt-4 p-4">
    <h4>Your cart is empty</h4>
  </div>
  {% endif %}
</div>

{% endblock %}
