{% extends "base.html" %} {% block content %}

<div class="container" style="max-width: 85%; margin-top: 50px">
  <h2>Seasonal Products 🎄</h2>
  <div class="slider-container">
    <button
      class="scroll-button left"
      onclick="scrollSlider('christmas', -400)"
    >
      &#10094;
    </button>
    <div class="product-slider" id="christmas-slider">
      {% for product in christmas_products %}
      <div class="card product-card h-100">
        <img
          src="{{ product.image_url }}"
          class="card-img-top"
          alt="{{ product.name }}"
          style="width: 100%; aspect-ratio: 1 / 1; object-fit: cover"
        />
        <div class="card-body d-flex flex-column">
          <p class="card-title">
            {{ product.name[:50] }}{% if product.name|length > 50 %}...{% endif
            %}
          </p>
          <p class="card-text">
            <strong>Price:</strong> ${{ "%.2f"|format(product.price) }}
          </p>

          <div class="star-rating" style="margin-bottom: 10px">
            {% for i in range(1, 6) %} {% if product.avg_review_score >= i %}
            <i class="fa fa-star filled"></i>
            {% elif product.avg_review_score > i - 1 %}
            <i
              class="fa fa-star filled fractional"
              style="--fraction-width: {{ (product.avg_review_score - (i - 1)) * 100 }}%;"
            ></i>
            {% else %}
            <i class="fa fa-star empty"></i>
            {% endif %} {% endfor %}
            <span style="font-size: medium">({{ product.review_count }})</span>
          </div>
          <a
            href="/products/{{ product.product_id }}"
            class="mt-auto btn btn-outline-primary"
            >View Details</a
          >
        </div>
      </div>
      {% endfor %}
    </div>
    <button
      class="scroll-button right"
      onclick="scrollSlider('christmas', 400)"
    >
      &#10095;
    </button>
  </div>

  <h2>Best Products</h2>
  <div class="slider-container">
    <button class="scroll-button left" onclick="scrollSlider('hot', -400)">
      &#10094;
    </button>
    <div class="product-slider" id="hot-slider">
      {% for product in hot_products %}
      <div class="card product-card h-100">
        <img
          src="{{ product.image_url }}"
          class="card-img-top"
          alt="{{ product.name }}"
          style="width: 100%; aspect-ratio: 1 / 1; object-fit: cover"
        />
        <div class="card-body d-flex flex-column">
          <p class="card-title">
            {{ product.name[:50] }}{% if product.name|length > 50 %}...{% endif
            %}
          </p>
          <p class="card-text">
            <strong>Price:</strong> ${{ "%.2f"|format(product.price) }}
          </p>

          <div class="star-rating" style="margin-bottom: 10px">
            {% for i in range(1, 6) %} {% if product.avg_review_score >= i %}
            <i class="fa fa-star filled"></i>
            {% elif product.avg_review_score > i - 1 %}
            <i
              class="fa fa-star filled fractional"
              style="--fraction-width: {{ (product.avg_review_score - (i - 1)) * 100 }}%;"
            ></i>
            {% else %}
            <i class="fa fa-star empty"></i>
            {% endif %} {% endfor %}
            <span style="font-size: medium">({{ product.review_count }})</span>
          </div>
          <a
            href="/products/{{ product.product_id }}"
            class="mt-auto btn btn-outline-primary"
            >View Details</a
          >
        </div>
      </div>
      {% endfor %}
    </div>
    <button class="scroll-button right" onclick="scrollSlider('hot', 400)">
      &#10095;
    </button>
  </div>
</div>

<script>
  function scrollSlider(sliderId, scrollAmount) {
    const slider = document.getElementById(`${sliderId}-slider`);
    if (slider) {
      event.preventDefault();
      slider.scrollLeft += scrollAmount;
    }
  }
</script>

{% endblock %}
